@font-face {
    font-family: 'didot';
    src: url(/css/Didot.ttf);
}

@font-face {
    font-family: 'wulkan-display';
    src: url(/css/Wulkan_Display/Wulkan\ Display\ Medium\ Italic.otf);
}

@font-face {
  font-family: 'akira';
  src: url(/css/akira_expanded/Akira\ Expanded\ Demo.otf);
}

* {
  cursor: none;
}

body::after {
  content: "";
  position: fixed;
  z-index: 999;
  top: var(--y);
  left: var(--x);
  right: 0;
  bottom: 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
  font-size: 2rem;
  transform-origin: center
}

body.img-hovered::after {
  width: 7em;
  height: 7em;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display';
  font-weight: 700;
  animation: spin 4s infinite forwards cubic-bezier(1, 1, 1, 1);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

html,
body {
  height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body{
    background-color: #ffffff;
}


ul{
    position: relative;
    top: 1em;
    font-family: "didot";
    text-align: center;
    list-style-type:none;
    color: rgb(0, 0, 0);
}

li{
    display: inline-block;
    letter-spacing: 4px;
    padding-left: 4em;
    padding-right: 4em;
}

.menu_list {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to top, #ffffff 0%, #ffffff 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
  }
  
.menu_list:hover {
    background-size: 100% 100%;
}


#bar_menu{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 75%;
    border: solid .1px #ffffff;
}


.container {
    background-image: linear-gradient(
        to bottom,
        #ffffff 50%,
        #000000 50%
    );
}
.container::after {
    content: "";
    display: block;
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    position: sticky;
    top: 0px;
    padding-bottom: 100px;
    mix-blend-mode: exclusion;
}


.word{
    color: #ffffff;
    top: 2em;
    padding-top: 1.5em;
    position: relative;
    font-size: clamp(40px, 6vw, 100px);
    text-align: center;
    font-family: "didot";
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
}

audio{
    display: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}


section {
    scroll-snap-align: center;
    overflow: hidden;
}

.main-content {
  height: 120vh;
  background-color: #000000;

}

.presentation {
  position: relative;
  bottom: 800px;
}

.head-text {
  position: sticky;
  text-align: center;
  bottom: 0px;
  top: 0px;
  z-index: 2;
  font-family: 'akira';
  font-size: calc(8vw + 10px);
  color: white;
}

#pic-one{
  position: sticky;
  top: 0px;
  padding-top: 3em;
  z-index: 1;
  display: flex;
  justify-content: center;

}

#passion_info {
  height: 100vh;
  background-color: #000000; 
  color: #ffffff;
}

.info{
  padding-top: 1em;
  padding-left: 20px;
  font-family: 'akira';
  font-size: calc(33vh + 3px);
  text-align: left;
  transition-duration: .5s;

}

#passion_info:hover > .info{
  font-size: calc(10vh + 3px);
  /* transition-delay: 2s; */
  transition-duration: .5s;
}

.info_2{
  padding-top: 1em;
  padding-left: 20px;
  font-family: 'akira';
  font-size: calc(4vh + 3px);
  transition-duration: .5s;
}

.info_3 > a{
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  text-align: center;
  font-size: calc(vh + 2px);
  padding-top: 3em;
}


.block {
  position: relative;
  height: 70vh;
  width: 12em;
  background-color: #9fc9f6;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  color: #fffee4;
}

.button_more {
  position: relative;
  background-color: #fffee4;
  height: 4em;
  width: 20em;
  border-radius: 30px;
  border: none;
  font-size: 15px;
}

#contact_form {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  font-family: 'wulkan-display';
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.contact {
  height: 20em;
  width: 40em;
  background-color: #fbf2c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#call {
  position: relative;
  float: left;
}

#mail {
  position: relative;
  float: right;
}

#call-me {
  font-size: 80px;
}

.number {
  font-size: 30px;
}
.number{
  font-size: 30px;
}

@media only screen and (max-width: 750px) {
  

  section {
    scroll-snap-align: none;
}

#pic-one{
 max-width: 80px;
 height: auto;
}
  
  .contact {
    height: 15em;
    width: 30em;
  }

  .info{
    padding-top: 1em;
    padding-left: 20px;
    font-family: 'akira';
    font-size: calc(10vh + 3px);
    text-align: left;
    transition-duration: 1s;
  }

  .info_2{
    padding-top: 1em;
    padding-left: 20px;
    font-family: 'akira';
    font-size: calc(3vh + 3px);
    transition-duration: .5s;
  }

}

@media only screen and (max-width: 500px) {
  
  section {
    scroll-snap-align: none;
}

  #contact_form {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    font-family: 'wulkan-display';
    display: flex;
    flex-direction: column;
  }
  
  .contact {
    height: 10em;
    width: 20em;
  }

  #call-me{
    font-size: 30px;
  }

  .number{
    font-size: 20px;
  }

  .number{
    font-size: 20px;
  }

  .info{
    padding-top: 1em;
    padding-left: 20px;
    font-family: 'akira';
    font-size: calc(4vh + 2px);
    text-align: left;
    transition-duration: 1s;
  }

  .info_2{
    padding-top: 1em;
    padding-left: 20px;
    font-family: 'akira';
    font-size: calc(3vh + 3px);
    transition-duration: .5s;
  }
}